langchain
langchain-community
chromadb
sentence-transformers
torch
transformers
accelerate
bitsandbytes
pydantic
sentence-transformers
chromadb==0.4.15
nltk
rouge-score
scikit-learn
rouge

pypdf
python-docx
docx2txt
python-magic


streamlit


tqdm
numpy